.all-header {
    height: 120px;
    width: 100%;
    box-shadow: 0 2px 3px #0001;
}

.nav-bar {
    height: 100%;
    width: min(1200px, 90%);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-links {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 17px;
    margin: 0 15px;

    &:hover {
        text-decoration: underline;
    }
}

.cart-link {
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.profile-link {
    background-color: black;
    color: white;
    padding: 10px 11px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 25px;
}

.login-nav-btn {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 6px 14px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    margin: 0 5px;
}

.cart-heading {
    padding: 0 24px;
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans';
    justify-content: space-between;
}

.total-price {
    font-size: 24px;
    font-weight: 700;
    color: black;
    font-family: 'Open Sans';
}

.cart-heading i {
    font-size: 22px;
    cursor: pointer;
}

.cart-img-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cart-img-div p {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans';
    margin-top: 10px;
}

.checkout-btn {
    padding: 6px 28px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans';
    transition: all 0.15s ease;

    &:hover {
        background-color: black;
        color: white;
    }
}

.username {
    border-left: 1px solid black;
    padding: 0 10px;
    font-weight: 500;
    font-size: 16px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}